@model WorldwideMovieDatabase.Models.Movie

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Movie</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
    
            <dd>
                @{
                    string releaseDate = Model.ReleaseDate.ToShortDateString();
                }
                @Html.DisplayFor(model => releaseDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserRating)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserRating)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MPAARating)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MPAARating)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MovieLength)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MovieLength)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
