@model WorldwideMovieDatabase.Models.ProfileMoviesJobsViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Profiles", FormMethod.Post, new { id = "form" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h1>Create Profile</h1>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Profile.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Profile.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Profile.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Profile.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Profile.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Profile.BirthDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Profile.DeathDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Profile.DeathDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Profile.DeathDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <h2>Add Movies</h2>
    <hr />

    @*Returns AllMovies and AllJobs on postback so they get returned back to user if needed*@
    @{
        int i = 0;
    }
    @foreach (var movie in Model.AllMovies.OrderBy(m => m.Title))
    {
        <input type="hidden" name="AllMovies[@i].ID" value="@movie.ID" />
        <input type="hidden" name="AllMovies[@i].Title" value="@movie.Title" />
        i++;
    }

    @{
        i = 0;
    }
    @foreach (var job in Model.AllJobs.OrderBy(j => j.Title))
    {
        <input type="hidden" name="AllJobs[@i].Id" value="@job.Id" />
        <input type="hidden" name="AllJobs[@i].Title" value="@job.Title" />
        i++;
    }

    @*Used to replicate movies and jobs drop down*@
    <select class="form-control" hidden="hidden" id="moviesDropDown">
        <option value="">Select Movie</option>
        @foreach (var movie in Model.AllMovies.OrderBy(m => m.Title))
        {
            <option value="@movie.ID">@movie.Title</option>
        }
    </select>

    <select class="form-control" hidden="hidden" id="jobTitlesDropDown">
        <option value="">Select Job Title</option>
        @foreach (var job in Model.AllJobs.OrderBy(j => j.Title))
        {
            <option value="@job.Id">@job.Title</option>
        }
    </select>

    <div id="movies">
    </div>

    <div class="col-md-10 offset-md-2">
        <input type="button" id="addMovie" value="Add Movie" class="btn btn-sm" />
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.Profile.Bio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Profile.Bio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Profile.Bio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Profile.ProfilePicture, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Profile.ProfilePicture, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Profile.ProfilePicture, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="offset-md-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/javascript")
}
