@model WorldwideMovieDatabase.Models.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @{
                string birthDate = Model.BirthDate.ToShortDateString();
                string deathDate = Model.DeathDate.ToShortDateString();
            }
            @Html.DisplayFor(model => birthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeathDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => deathDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfilePicture)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
