@model IEnumerable<WorldwideMovieDatabase.Models.Profile>

@{
    ViewBag.Title = "Profiles";
}

<h1>Profiles</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            &nbsp;
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeathDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) 
{
    <tr>    
        <td>
            <img src="@Html.DisplayFor(modelItem => item.ProfilePicture)" height="50" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeathDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("View", "Profiles", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
