@model WorldwideMovieDatabase.Models.Profile

@{
    ViewBag.Title = Model.Name;
}
<div>
    <h1>@Model.Name</h1>
    <hr />
    <img src="@Url.Content(Model.ProfilePicture)" />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeathDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeathDate)
        </dd>

        @foreach (var jobTitle in Model.Movies.OrderBy(m => m.JobTitle)
                                    .GroupBy(m => m.JobTitle)
                                    .Select(m => m.First())
                                    .Select(m => m.JobTitle))
        {
            <dt>
                @jobTitle
            </dt>
            <dd>
                <ul>
                    @foreach (var movieJob in Model.Movies.Where(m => m.JobTitle == jobTitle))
                    {

                        if (movieJob.JobTitle == jobTitle)
                        {

                            <li>@Html.DisplayFor(model => movieJob.Movie.Title)</li>

                        }
                    }
                </ul>
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
