@model WorldwideMovieDatabase.Models.Profile

@{
    ViewBag.Title = Model.Name;
}

<div>
    <h1>@Model.Name</h1>
    <hr />
    @if (!String.IsNullOrWhiteSpace(Model.ProfilePicture))
    {
        <img src="@Url.Content(Model.ProfilePicture)" />
        <hr />
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeathDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeathDate)
        </dd>

        @foreach (var job in Model.Movies.SelectMany(m => m.Jobs)
                                    .GroupBy(m => m.Title)
                                    .Select(m => m.First()))
        {
            if (String.IsNullOrWhiteSpace(job.Title))
            {
                <dt>
                    Unspecified Job Title
                </dt>
            }
            else
            {
                <dt>
                    @job.Title
                </dt>
            }
            <dd>
                <ul>
                    @foreach (var movie in Model.Movies.Where(m => m.Jobs.Any(j => j.Title == job.Title)))
                    {
                        <li>@Html.DisplayFor(model => movie.Movie.Title)</li>
                    }
                </ul>
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) | 
    @Html.ActionLink("Back to List", "Index")
</p>
